main{
    background-color: rgb(74, 204, 255);
    /* padding-left: 1em;
    padding-right: 1em; */
}

main h1{
    text-align: center;
    padding-bottom: 1em;
}

.somePadding{
    padding-left: 2em;
    padding-right: 2em;
}

.top{
    background-color: red;
    text-align: center;
}

.middle{
    background-color: rgb(74, 204, 255);
    text-align: center;
}

.bottom{
    background-color: black;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    
}