
.CenterIt{
    text-align: center;
}

.Searchbox h1{
    color: yellow;

    /* Create a text shadow to simulate the text outline (black outline) */
    text-shadow:
      -3px -3px 0 black,
       3px -3px 0 black,
      -3px  3px 0 black,
       3px  3px 0 black;
}

.Searchbox{
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: red;
}

.SearchedPoke{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    list-style: none;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgb(74, 204, 255);
}

.SearchedPokeImg{
    max-width: 30%;
    min-width: 200px;
    /* margin-left: 10%;
    margin-right: 10%; */
    padding-top: 3em;
    padding-bottom: 2em;
    border: 5px solid black;
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

.SearchedPokeInfo{
    width: 60%;
    /* margin-right: 5%;
    margin-left: 5%; */
    border: 5px solid black;
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

.SearchedPoke ul li{
    text-align: left;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.SearchByType{
    background-color: black;
    color: white;
    padding: 3em;
}

.types {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 1px solid green; */
}

.types div {
    text-align: center;
    /* border: 1px solid green; */
    box-shadow: 5px 5px 8px gray;
    width: 30%;
    height: 120px;
    min-width: 100px;
    max-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background: white;
}

.types img {
    /* width: 200px;*/
    /* margin: 10px;
    margin-top: 14px; */
    width: 90%;
    height: 90%;
}

@media (max-width: 768px) {
    .SearchedPoke {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items horizontally in the column */
    }
    .SearchedPokeInfo{
        width: 90%;
    }
    .SearchedPokeImg{
        max-width: 90%;
    }
}