.PageTitle {
    text-align: center;
    padding-bottom: 2.5em;
    background-color: red;
}

.PokemonList {
    list-style: none;
    background-color: rgb(74, 204, 255);
    padding: 2em;
    margin-bottom: 0;
    /* display: flex;
    justify-content: center; */
}

.PokemonList ul {
    padding: 0;
}

.PokemonList ul li {
    list-style: none;
    margin: 1em;
    padding: 0.5em;
    border: 0.2em solid black;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.EachPokemonDiv {
    /* padding-right: 1em;
    padding-left: 1em; */
    padding: 0;
}

.EachPokemonDiv ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.TheTypes {
    background-color: black;
    margin-top: 0;
    padding-top: 1em;
}

.PokeImage{
    width: 20%;
}

@media (max-width: 768px) {
    .PokemonList {
        list-style: none;
        background-color: rgb(74, 204, 255);
        padding: 0;
        margin-bottom: 0;
    }
    .PokemonList ul li {
        list-style: none;
        /* margin: 0.5em; */
        /* padding: 0.5em; */
        border: 0.2em solid black;
        background-color: white;
        text-decoration: none;
        color: black;
        font-weight: bolder;
        width: 8em;
        height: 5em;
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
        align-items: center;
        text-align: center;
    }
    .PokeImage{
        width: 40%;
    }
}
