.button{
    float: right;
}

h1{
    background-color: red;
    margin: 0;
    padding-top: 1em;
    color: yellow;

    /* Create a text shadow to simulate the text outline (black outline) */
    text-shadow:
      -3px -3px 0 black,
       3px -3px 0 black,
      -3px  3px 0 black,
       3px  3px 0 black;
}

.EnterButton{
    background-color: red;
    margin: 0;
    padding-top: 1em;
    color: yellow;

    /* Create a text shadow to simulate the text outline (black outline) */
    text-shadow:
      -3px -3px 0 black,
       3px -3px 0 black,
      -3px  3px 0 black,
       3px  3px 0 black;

    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 4px;
}

.UserDetails{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    list-style: none;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: red;
}

/* .SearchedPokeInfo ul {
    display: inline-block;
  justify-content: center;
  align-items: center;
} */

.SearchedPokeInfo ul li{
    text-align: left;
    list-style: none;
}

.Info_ul {
    padding-top: 2em;
}

.BattleTeams{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 80%; */
    /* border: 2px solid green; */
    width: 100%;
    padding: 2em;
    background-color: rgb(74, 204, 255);
    padding-left: 20%;
    padding-right: 20%;
}

.BattleTeams h2{
    width: 100%;
    margin-bottom: 1em;
}

.BattleTeams div{
    text-align: center;
    border: 5px solid black;
    max-width: 10em;
    width: 30%;
    margin-bottom: 2em;
    background-color: white;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.BattleTeams div img{
    width: 80%;
}

.Favorites{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 80%; */
    /* border: 2px solid green; */
    width: 100%;
    padding: 2em;
    background-color: black;
    /* padding-left: 20%;
    padding-right: 20%; */
}

.Favorites h2{
    width: 100%;
    margin-bottom: 1em;
    color: white;
}

.Favorites div{
    text-align: center;
    border: 5px solid red;
    max-width: 10em;
    width: 20%;
    margin-bottom: 2em;
    background-color: white;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.Favorites div img{
    width: 60%;
}

.scroll-down{
    margin-top: 22em;
}


@media (max-width: 768px) {
    .UserDetails {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items horizontally in the column */
    }
    .SearchedPokeInfo{
        width: 90%;
    }
    .SearchedPokeImg{
        max-width: 90%;
    }
    .BattleTeams{
        padding: 0;
    }
    .BattleTeams h2{
        margin-top: 1em;
    }
    /* .BattleTeams h4{
        width: 90%;
        height: auto;
    } */
    .BattleTeams div{
        margin-top: 1em;
        margin-left: 0;
        margin-right: 0;
    }
    .Favorites{
        padding: 0;
    }
    .Favorites h2{
        margin-top: 1em;
    }
    .Favorites div{
        margin-top: 1em;
        margin-left: 0;
        margin-right: 0;
    }

    .Favorites div{
        text-align: center;
        border: 5px solid red;
        max-width: 10em;
        width: 30%;
        margin-bottom: 2em;
        background-color: white;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .Favorites div img{
        width: 80%;
    }
}